.sidebar {
    background-color: #002137;
    padding-top: 15px;
    font-size: 0.8rem;
    height: 715px;

    /* hide scrollbar */
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.logo {
    display: block;
    margin: 0 auto;
    user-select: none;
}

.item {
    color: white;
    padding: 14px 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    list-style-type: none;
    display: block;

    &:hover {
        background-color: #002c49;
    }

    &--active {
        background-color: #002c49;
    }
}

.item__img {
    margin-bottom: 10px;
}
