.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &_noflex {
        display: block;
        flex: 1 1;
    }

    &_main {
        flex: 1 1;
    }
}
