.header {
    background-color: var(--color-light-blue);
    padding: 15px 0 10px 17px;
    flex: 0 0 100%;
}

.input {
    border-radius: 20px;
    border: none;
    padding: 11px 35px 11px 11px;
    width: 680px;
    background: var(--color-white) url('~Images/search.png') no-repeat 98% 50%;

    &:focus {
        box-shadow: 0 0 10px #85c3f6;
        outline-color: transparent;
    }
}
