.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.row {
    display: flex;

    &-wrap {
        flex-wrap: wrap;
    }

    &-direction {
        &-col {
            flex-direction: column;
        }
    }
}

.col {
    &-overflow-hidden {
        overflow: hidden;
    }

    &-width {
        &-auto {
            flex: 1 1;
        }

        &-full {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &-35 {
            flex: 0 0 35%;
            max-width: 35%;
        }
    }

    &-flexGrow {
        &-1 {
            flex-grow: 1;
        }
    }
}
