.tooltip {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    background-color: var(--color-blue);
    padding: 24px 36px;
    max-height: 100px;
    position: relative;

    &__number {
        color: var(--color-white);
        margin-right: 25px;
    }

    &__text {
        flex: 0 1 560px;
        max-width: 560px;
        color: var(--color-white);
        max-height: 100%;
        overflow: hidden;
    }
}

.buttonClose {
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 22px;
    border: none;
    background: none;

    & img {
        width: 100%;
        height: auto;
    }
}
